/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input_dir           = "${projectDir}"
    input               = "${projectDir}/assets/test_data/samplesheet/test_dna_vcf.csv"
    gencode_annotations = "${projectDir}/assets/test_data/annotations/gencode.v29.annotation.chr21.gtf"
    ensembl_annotations = "${projectDir}/assets/test_data/annotations/biomart_grch38_ensembl_113_chr21.tsv"
    genome_reference    = "${projectDir}/assets/test_data/reference/Homo_sapiens_assembly38_chr21.fasta"
    vep_cache           = "" // if empty, will attempt to download the chr21 test data set
    vep_params         = "--cache-version 112 --ncbi-build=GRCh38"
    pcgr_data           = "" // if empty, will attempt to download from wget https://insilico.hpc.uio.no/pcgr/pcgr_ref_data.20240621.grch38.tgz

    container_r         = "oras://ghcr.io/crchum-citadel/sdp-r:4.5.1"
    container_python    = "oras://ghcr.io/crchum-citadel/sdp-python:3.12"
    container_pcgr      = "oras://ghcr.io/sigven/pcgr:2.1.2.singularity"
}


profiles {
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
}
